* {
  font-family:'Lato', sans-serif;
  margin:0;
  padding:0;
}

html, body{
  height:100vh;
}

/* header - titre et règle */

header{
  background-color:#3742fa;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

header h1{
  margin-top:12px;
  padding:12px;
  background-color:white;
  border-radius:10px;
  box-shadow:0 0 15px lightgray;
}

#header-parent{
  width:80%;
  border:solid 5px white;
  margin:20px 10px;
}

#title-rules{
  text-align:center;
  border:none;
  font-weight:bold;
  padding:8px;
  background-color:white;
  width:100%;
  font-size:1.3rem;
  cursor:pointer;
}

#title-rules:hover{
  background:#ffc7b3;
}

#span-rules{
  padding: 0px 10px 10px 10px;
  vertical-align: super;
  letter-spacing:2px;
}

#rules{
  padding: 25px;
  background:#fff;
  line-height:1.7;
  letter-spacing: 1px;
  font-size:1.2rem;
  display:none;
}

#rules span{
  font-weight:bold;
  color:#1e3799;
}


/* main - interface du jeu */

main{
  display:flex;
  flex-direction:column;
  margin:30px 0px;
  justify-content: center;
  align-items: center;
}

#main-conteneur{
  display:flex;
  justify-content: space-between;
}

#main-left{
  box-shadow:0px 0px 15px #e15f41;
}

#main-left img, #main-right img{
  width:250px;
  height:250px;
}

#main-center{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#main-button{
  display:flex;
  flex-direction:column;
}

main #dice-image{
  width: 100px;
  height:100px;
  margin-top:60px
}

/* button */

main button{
  font-size:1.2rem;
  letter-spacing:1px;
  border:solid 2px;
  border-radius:10px;
  background-color: #fff;
  cursor:pointer;
}

main button:hover {
  background-color:#e15f41;
  color:#fff;
}

main button:active{
  background-color:#b33939;
}

#lancer{
  padding:10px 5px;
}

#hold{
  padding:10px 5px;
}

#lancer, #hold{
  margin:15px 0px;
}

#new-game{
  padding:8px;
  margin-top:35px;
}

/* Elements centrals */

.p-texte{
  font-size:1.3rem;
  letter-spacing:1px;
  color:#1e3799;
  font-weight:700;
  text-align:center;
}

.current{
  margin:15px 0px;
  font-size:1.2rem;
  font-weight:600;
  color:#1e3799;
}

.global{
  font-size:1.2rem;
  font-weight:500;
  padding:3px;
}

.player-size{
  font-size:1.5rem;
}

#div-score-global{
  background-color:#e15f41;
  color:white;
  padding:5px 5px 10px 5px;
}


#main-left, #main-right{
  margin:30px 100px;
  padding-top:20px;
  text-align:center;
  font-size:1.3rem;
}

@media screen and (max-width:1300px){
#main-left{
  margin:30px 50px 0px 0px;
}

#main-right{
    margin:30px 0px 0px 50px;
  }
}

@media screen and (max-width:800px){
  #main-left{
      margin:30px 40px 0px 0px;
  }
  #main-right{
      margin:30px 0px 0px 40px;
  }
}

@media screen and (max-width:700px){
  #main-left{
      margin:30px 20px 0px 0px;
  }
  #main-right{
      margin:30px 0px 0px 20px;
  }
  #main-left img, #main-right img{
    width:200px;
    height:200px;
  }
  main #dice-image{
    width:70px;
    height:70px;
  }
}

@media screen and (max-width:600px){
  #main-left img, #main-right img{
    width:150px;
    height:150px;
  }
}

@media screen and (max-width:480px){
  #main-left{
      margin:30px 10px 0px 0px;
  }
  #main-right{
      margin:30px 10px 0px 10px;
  }
  #main-left img, #main-right img{
    width:100px;
    height:100px;
  }
}

#p-win{
  font-size:1.5rem;
  letter-spacing:2px;
  margin-top:20px;
  font-weight:600;
}

main hr{
  width: 50%;
  height: 2px;
  background-color: #3742fa;
  border:none;
  margin:15px 0px 30px 0px;
}

#mute{
  font-size:1.1rem;
  font-style:italic;
  padding-top:20px;
}

#mute span{
  font-size:25px;
  margin-left:5px;
  font-style:normal;
  cursor:pointer;
}

/* Footer - credits */

footer{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffc7b3;
  width:100%;
  height:30%;
}

#footer-parent{
  width:80%;
  margin:15px;
  border:solid 5px white;
}

#credits{
  text-align:center;
  border:none;
  font-weight:bold;
  padding:8px;
  background-color:white;
  width:100%;
  font-size:1.3rem;
  cursor:pointer;
}

#credits:hover{
  background: #3742fa;
  color:white;
}

#footer-child{
  display:none;
}

#credits-list{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  align-items: center;
  padding: 25px;
  background:#fff;
  line-height:1.7;
  letter-spacing: 1px;
  font-size:1.2rem;
}

footer p{
  font-weight:bold;
  letter-spacing:1px;
  font-size:1.3rem;
  text-align:center;
}

footer a{
  text-align:center;
  color: black;
}

footer a:hover{
  color:#3742fa;
  font-weight:bold;
}
