* {
  font-family:'Lato', sans-serif;
  margin:0;
  padding:0;
}

html, body{
  height:100vh;
}

/* header - title and rules */
header{
  background-color:#3742fa;
}

header h1{
  margin-top:12px;
  padding:12px;
  background-color:white;
  border-radius:10px;
  box-shadow:0 0 15px lightgray;
}

#header-parent{
  width:80%;
  border:solid 5px white;
  margin:20px 10px;
}

#title-rules{
  border:none;
  font-weight:bold;
  padding:8px;
  background-color:white;
  width:100%;
  font-size:1.3rem;
  cursor:pointer;
}

#title-rules:hover{
  background:#ffc7b3;
}

#span-rules{
  padding: 0px 10px 10px 10px;
  letter-spacing:2px;
}

#rules{
  padding: 25px;
  background:#fff;
  line-height:1.7;
  letter-spacing: 1px;
  font-size:1.2rem;
  display:none;
}

#rules span{
  font-weight:bold;
  color:#1e3799;
}


/* Main - interface game */
main{
  margin:30px 0px;
}

#main-left{
  box-shadow:0px 0px 15px #e15f41;
}

#main-left img, #main-right img{
  width:250px;
  height:250px;
}

main #dice-image{
  width: 100px;
  height:100px;
  margin-top:60px
}


/* Button */
main button{
  font-size:1.2rem;
  letter-spacing:1px;
  border:solid 2px;
  border-radius:10px;
  background-color: #fff;
  cursor:pointer;
}

.on:hover{
  background-color:#e15f41;
  color:#fff;
}

.on:active{
  background-color:#b33939;
}

.disabled:hover{
  background-color:#fff;
}

.disabled:active{
  background-color:#fff;
}

#throw{
  padding:10px 5px;
}

#hold{
  padding:10px 5px;
}

#throw, #hold{
  margin:10px 0px;
}

#new-game{
  padding:8px;
  margin-top:25px;
}

/* Center elements */
.p-text{
  font-size:1.4rem;
  letter-spacing:1px;
  color:#1e3799;
  font-weight:700;
  text-align:center;
}

.current{
  margin:15px 0px;
  font-size:1.3rem;
  font-weight:600;
  color:#1e3799;
}

.global{
  font-size:1.3rem;
  font-weight:500;
  padding:3px;
  margin: 10px 0px;
}

.player-size{
  font-size:1.8rem;
  font-weight:bold;
  margin-top:5px;
}

#div-score-global{
  background-color:#e15f41;
  color:white;
  padding:5px 5px 10px 5px;
  margin-top:10px;
}

.global ~ p, .current ~ p{
  font-size:1.5rem;
}

#main-left, #main-right{
  margin:30px 120px;
  padding-top:20px;
  text-align:center;
  font-size:1.3rem;
}

@media screen and (max-width:1300px){
#main-left{
  margin:30px 50px 0px 0px;
}

#main-right{
    margin:30px 0px 0px 50px;
  }
}

@media screen and (max-width:800px){
  #main-left{
      margin:30px 40px 0px 0px;
  }
  #main-right{
      margin:30px 0px 0px 40px;
  }
}

@media screen and (max-width:700px){
  #main-left{
      margin:30px 20px 0px 0px;
  }
  #main-right{
      margin:30px 0px 0px 20px;
  }
  #main-left img, #main-right img{
    width:200px;
    height:200px;
  }
  main #dice-image{
    width:70px;
    height:70px;
  }
}

@media screen and (max-width:600px){
  #main-left img, #main-right img{
    width:150px;
    height:150px;
  }
  .current, .global{
    font-size:1.1rem;
  }
}

@media screen and (max-width:480px){
  #main-left{
      margin:30px 10px 0px 0px;
  }
  #main-right{
      margin:30px 10px 0px 10px;
  }
  #main-left img, #main-right img{
    width:100px;
    height:100px;
  }
}

#p-state{
  font-size:1.2rem;
  letter-spacing:1px;
  font-weight:550;
  text-align:center;
  margin-top:20px;
}

#p-win{
  color:white;
  font-size:1.6rem;
  letter-spacing:2px;
  margin-top:15px;
  background-color:#3742fa;
  padding:15px;
  border-radius:10px;
  border:1px solid lightgray;
  box-shadow: 0px 0px 20px lightgrey;
}

#ligne{
  width: 50%;
  height: 3px;
  background-color: #3742fa;
  margin:20px 0px 40px 0px;
}

#p-mute{
  font-size:1.1rem;
  font-style:italic;
  padding-top:20px;
}

.sound-text span{
  font-size:25px;
  margin-left:7px;
  padding-top:10px;
  font-style:normal;
  cursor:pointer;
}


/* Footer - credits */
footer{
  background-color: #ffc7b3;
  width:100%;
  height:auto;
}

#footer-parent{
  width:80%;
  margin:15px;
  border:solid 5px white;
}

#credits{
  border:none;
  font-weight:bold;
  padding:8px;
  background-color:white;
  width:100%;
  font-size:1.3rem;
  cursor:pointer;
}

#credits:hover{
  background: #3742fa;
  color:white;
}

#footer-child{
  display:none;
}

#credits-list{
  padding: 25px;
  background:#fff;
  line-height:1.7;
  letter-spacing: 1px;
  font-size:1.2rem;
}

footer p{
  font-weight:bold;
  letter-spacing:1px;
  font-size:1.3rem;
  text-align:center;
}

footer a{
  text-align:center;
  color: black;
}

footer a:hover{
  color:#3742fa;
  font-weight:bold;
}
